.container {
  height: 100px;
  padding: 0px 50px;
  background-color: #d1411e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
  flex: 2;
  display: flex;
  align-items: center;
}

.item:nth-child(2) {
  flex: 3;
}

.item:nth-child(3) {
  justify-content: flex-end;
}

.callButton {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.makeImageCircular {
  border-radius: 50%;
}

.texts {
  margin-left: 20px;
  color: white;
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.listItem {
  margin: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cart {
  position: relative;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d1411e;
}

.MobileIcon {
  display: none;
  padding-left: 30px;
  flex: 1;
}

.MobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  position: absolute;
  top: 82px;
  right: 0;
  width: -1%;
  padding: 2px 10px 0px 16px;
  background-color: #d1411e;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
  list-style: none;
  color: white;
  /* transform: ${({ open }) => (open ? 'translateY(0)' : 'translateY(-100%)')};
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  opacity: ${({ open }) => (open ? '100%' : '0')};
  z-index: ${({ open }) => (open ? '1000' : '-1000')} */
}

.MobileMenu li {
  color: white;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 480px) {
  .item:nth-child(2) {
    display: none;
  }

  .item:nth-child(1) {
    flex: 3;
  }

  .item:nth-child(3) {
    flex: 2;
  }

  .MobileIcon {
    display: block;
    padding-left: 20px;
    position: absolute;
    top: 0;
    right: -40px;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
}

@media screen and (max-width: 760px) {
  .item:nth-child(2) {
    display: none;
  }

  .item:nth-child(1) {
    flex: 3;
  }

  .item:nth-child(3) {
    flex: 2;
  }

  .MobileIcon {
    display: block;
    padding-left: 20px;
    position: absolute;
    top: 0;
    right: -40px;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
}
